.chal-desc {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px; }

.chal-desc img {
  max-width: 100%;
  height: auto; }

.modal-content {
  border: 4px solid #13224b !important;
  border-radius: 20px !important;
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto;
  background-color: #0e0b29; }

.btn-info :not(.btn-file) {
  background-color: #5b7290; }

.btn-file {
  background: transparent !important;
  border-radius: 5px;
  border: 2px solid #29dfff;
  transition: border 0.15s; }

.btn-file:hover {
  border: 2px solid #6d2d8a; }

.btn-file small, .btn-file .fas {
  background: transparent !important; }

.badge-info {
  background-color: #5b7290 !important; }

.challenge-button {
  border-radius: 5px;
  background: transparent;
  border: 2px solid #29dfff; }

.challenge-button:hover {
  background: transparent;
  border: 2px solid #6d2d8a; }

.challenge-button:active {
  background-color: #6d2d8a !important;
  border: 2px solid #6d2d8a !important; }

.challenge-button-name {
  font-weight: bold; }

.challenge-button-value {
  font-weight: normal; }

.solved-challenge {
  background-color: #37d63e !important;
  opacity: 0.4;
  border: none; }

.corner-button-check {
  margin-top: -10px;
  margin-right: 25px;
  position: absolute;
  right: 0; }

.key-submit .btn {
  height: 51px; }
